<h2>Application Decision: Accepted</h2>
<form>
    <label>
        <span>Name</span>
        <input type="text" ng-model="name" />
    </label>
    <label>
        <span>Email</span>
        <input type="text" ng-model="email" />
    </label>
    <label>
        <span>School</span>
        <input type="text" ng-model="school" />
    </label>
    <label>
        <span>Phone</span>
        <input type="text" ng-model="phone" />
    </label>
    <label>
        <span>GitHub URL</span>
        <input type="text" ng-model="github" />
    </label>
    <label>
        <span>LinkedIn URL</span>
        <input type="text" ng-model="linkedin" />
    </label>
    <label>
        <span>Previous Hackathons</span>
        <input type="text" ng-model="hackathons" />
    </label>
    <label>
        <span>Cool Projects</span>
        <input type="text" ng-model="projects" />
    </label>
    <label>
        <span>team members. name and email.</span>
        <input type="text" ng-model="team" />
    </label>

    <button ng-click="apply(name, email, school, phone, github, linkedin, hackathons, projects, team)">Apply</button>

</form>
